.product {
  width: 990px;
  margin: 20px auto;
  z-index: 100;
  min-height: 600px;
}
.product .wrapper {
  display: flex;
  justify-content: space-between;
}
.product__show {
  width: 440px;
}
.product__show .showbig {
  position: relative;
  display: table;
  z-index: 1;
  width: 420px;
  height: 420px;
  margin: 20px auto 0;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border: 1px solid silver\9 ;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.product__show .showbig > img {
  max-width: 100%;
  max-height: 100%;
}
.product__show .showbanner {
  margin-left: -68px;
}
.product__show .showbanner__view {
  position: relative;
}
.product__show .showbanner__view .view__btn {
  position: absolute;
  width: 32px;
  padding-top: 22px;
  line-height: 60px;
  font-size: 32px;
  user-select: none;
  color: #ddd;
  cursor: pointer;
  top: 0;
}
.product__show .showbanner__view .view__btn--prev {
  left: 0;
}
.product__show .showbanner__view .view__btn--next {
  right: 0;
}
.product__show .showbanner__view .list {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 364px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  transition: left 0.2s cubic-bezier(0, 0, 0.25, 1);
  font-size: 0;
}
.product__show .showbanner__view .list > li {
  position: relative;
  margin: 0 0 0 16px;
  padding-top: 22px;
}
.product__show .showbanner__view .list > li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 22px;
  width: 56px;
  height: 56px;
  font-size: 0;
  line-height: 0;
  border: 2px solid #000;
  display: none;
}
.product__show .showbanner__view .list > li:hover::after {
  display: block;
}
.product__custion {
  flex: 1 0 auto;
  padding: 0 0 10px;
  color: #666;
}
.product__custion .custion__title {
  margin: 0;
  padding: 20px 10px 12px;
  color: #000;
}
.product__custion .custion__title > a {
  vertical-align: middle;
  color: #000;
  line-height: 1;
  font-size: 16px;
  font-weight: 700;
}
.product__custion .custion__price {
  position: relative;
  display: flex;
  justify-content: flex-start;
  left: 0;
  padding-top: 5px;
  z-index: 10;
  margin-right: 20px;
  padding-bottom: 5px;
  background-image: url("..\\..\\..\\public\\images\\iphone\\pro-price-bcimg.png");
  backgroung-position: left 0;
  background-color: #e9e9e9;
  background-repeat: no-repeat;
  font: 12px/1.5 "Microsoft Yahei";
  color: #333;
}
.product__custion .custion__price > span {
  width: 69px;
  height: 30px;
  margin: 0 0 0 8px;
  color: #999;
  font-size: 12px;
  text-align: left;
  line-height: 30px;
}
.product__custion .custion__price > p {
  color: #333;
  color: #FF0036;
}
.product__custion .custion__price > p > em {
  font-size: 18px;
  vertical-align: middle;
  text-decoration: none;
}
.product__custion .custion__price > p .price {
  font-size: 24px;
  text-decoration: none;
  vertical-align: middle;
  font-weight: bolder;
}
.product__custion .custion__freight {
  margin: 5px 20px 5px 0;
  line-height: 24px;
}
.product__custion .tm-integral {
  position: relative;
  display: flex;
  padding: 10px 0;
  margin: -1px 20px 0 0;
  border: 1px dotted #c9c9c9;
  border-width: 1px 0;
  overflow: hidden;
}
.product__custion .tm-integral > a {
  float: left;
  width: 33%;
  text-align: center;
  position: relative;
  left: -1px;
  border-left: 1px solid #e5dfda;
  flex: 1;
  line-height: 16px;
  cursor: pointer;
  font-size: 12px;
}
.product__custion .tm-integral > a > span {
  display: inline-block;
  line-height: 16px;
  height: 16px;
  color: #999;
}
.product__custion .tm-integral > a .tm__value {
  display: inline-block;
  line-height: 16px;
  height: 16px;
  font-weight: 700;
  margin-left: 3px;
}
.product__custion .tm-integral > a .tm__value--red {
  color: #FF0036;
}
.product__custion .tm-integral > a .tm__value--green {
  color: #280;
}
.product__custion .custion__custing {
  margin: 0 20px 24px 10px;
  padding: 15px 0 22px 0;
}
.product__custion .custion__custing .custing__field {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 6px;
  font-size: 12px;
}
.product__custion .custion__custing .custing__field > dt {
  width: 66px;
  text-align: left;
  color: #838383;
  margin-top: 6px;
}
.product__custion .custion__custing .custing__field > dd {
  width: 420px;
}
.product__custion .custion__custing .custing__field > dd > ul {
  display: flex;
}
.product__custion .custion__custing .custing__field > dd > ul > li {
  line-height: 28px;
  margin: 0 4px 4px 0;
  vertical-align: middle;
  padding: 1px;
  background-color: #fff;
  white-space: nowrap;
  min-width: 10px;
  padding: 0 9px;
  text-align: center;
  border: 1px solid #b8b7bd;
  color: #000;
  text-decoration: none;
}
.product__custion .custion__custing .custing__field--pro > dt {
  padding-top: 4px;
}
.product__custion .custion__custing .custing__field--pro > dd > ul > li {
  line-height: 38px;
}
.product__custion .custion__custing .custing__amount {
  padding: 0;
}
.product__custion .custion__custing .custing__amount .field__value li {
  border: none;
}
.product__custion .custion__custing .custing__amount .field__value input {
  width: 36px;
  height: 26px;
  padding: 3px 2px 0 3px;
  border: 1px solid #a7a6ac;
  margin: 0;
  font-size: 12px;
  line-height: 26px;
  background-position: -406px -41px;
  color: #666;
  vertical-align: middle;
}
.product__custion .custion__custing .custing__amount .field__value .btn {
  display: inline-block;
  vertical-align: middle;
  line-height: 31px;
  color: #878787;
}
.product__custion .custion__custing .custing__amount .field__value .btn--add {
  width: 16px;
  height: 12px;
  overflow: hidden;
  border: 1px solid #a7a6ab;
  display: block;
  line-height: 12px;
  font-size: 16px;
  cursor: pointer;
}
.product__custion .custion__custing .custing__amount .field__value .btn--disadd {
  width: 16px;
  height: 12px;
  overflow: hidden;
  border: 1px solid #a7a6ab;
  display: block;
  font-family: tm-detail-font !important;
  line-height: 12px;
  font-size: 16px;
  cursor: pointer;
}
.product__custion .custion__custing .custing__btn {
  display: flex;
  padding: 10px 0 0 66px;
  margin: 10px 0 0;
}
.product__custion .custion__custing .custing__btn > a {
  width: 178px;
  height: 38px;
  margin-right: 10px;
  background-color: #ffeded;
  border: 1px solid #FF0036;
  color: #FF0036;
  overflow: hidden;
  line-height: 38px;
  text-align: center;
  font-size: 16px;
}
.product__custion .custion__custing .custing__btn > a:last-of-type {
  background-color: #ff0036;
  border: 1px solid #ff0036;
  color: #fff;
}
.product__desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  padding: 38px 0 25px 30px;
  color: #999;
}
.product__desc > a {
  color: #999;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  cursor: piont;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 990px;
  margin: 0 auto;
}

.acces {
  box-sizing: border-box;
  width: 189px;
  margin-top: -1px;
  padding-bottom: 20px;
  border-width: 1px;
  border-color: #e5e5e5;
  border-style: solid;
  background-color: #fff;
  background-image: none;
  background-position: 0 0;
  background-repeat: no-repeat;
  color: #333;
  font-size: 14px;
  line-height: 1.5em;
}
.acces__title {
  width: 100%;
  height: 26px;
  padding: 0;
  margin: 0;
  background: #F2F2F2;
  line-height: 26px;
  text-indent: 10px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}
.acces__ls {
  box-sizing: border-box;
  width: 180px;
  margin-top: 20px;
  padding-left: 8px;
  line-height: 20px;
  font-size: 14px;
}
.acces__ls > dt {
  box-sizing: border-box;
  padding-left: 3px;
  width: 170px;
  line-height: 28px;
  border-bottom: 1px solid #999;
  font-size: 14px;
  color: #333;
}
.acces__ls > dt > a {
  color: #000;
}
.acces__ls > dd {
  box-sizing: border-box;
  padding-left: 3px;
  margin-top: 5px;
}
.acces__ls > dd > a {
  color: #000;
}
.acces a:hover {
  color: #0070C9;
}

.interac {
  width: 790px;
}
.interac__title {
  display: flex;
  justify-content: space-left;
  width: 100%;
  height: 48px;
  padding: 0;
  margin: 0;
  border: 1px solid #dfdfdf;
  background-color: #fff;
}
.interac__title > p {
  position: relative;
  box-sizing: border-box;
  padding: 0 20px;
  height: 47px;
  margin: -1px 0 0 -1px;
  border-top: 2px solid transparent;
  border-left: 1px solid #cfbfb1;
  border-right: 1px solid #cfbfb1;
  font-size: 12px;
  line-height: 48px;
  font-weight: 400;
  color: #333;
  cursor: pointer;
}
.interac__title > p:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -1px;
  width: 0;
  height: 0;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #FF0036 transparent transparent;
  display: none;
}
.interac__title > p:hover {
  border-top-color: #FF0036;
  color: #FF0036;
}
.interac__title > p:hover:after {
  display: block;
}
.interac .content .title__desc {
  margin-bottom: 10px;
  border-top: none;
  border: 1px solid #e6e6e6;
  font-size: 12px;
}
.interac .content .title__desc .name {
  height: 40px;
  padding: 8px 20px 10px;
  margin-right: 15px;
  border-top: 1px solid #e6e6e6;
  line-height: 40px;
  color: #666;
}
.interac .content .title__desc .name span:last-of-type {
  color: #333;
  font-weight: 400;
}
.interac .content .product__about .item {
  width: 100%;
  margin-top: 6px;
  overflow: hidden;
}
.interac .content .product__about .item:first-of-type {
  margin-top: 10px;
}
.interac .other .price {
  padding-top: 10px;
}
.interac .other .evaluate__title {
  height: 30px;
  padding: 0;
  margin: 0;
  line-height: 30px;
  padding-left: 16px;
  background-color: #FF0036;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}
.interac .other .evaluate__body {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border: 1px solid #c8c8c8;
}
.interac .other .evaluate__body .body__summer {
  width: 75px;
  padding: 0 20px;
  border-right: 1px dotted #ddd;
  text-align: center;
  vertical-align: top;
}
.interac .other .evaluate__body .body__summer h4 {
  padding: 0;
  margin: 0;
  color: #404040;
  font-size: 12px;
  font-weight: 100;
}
.interac .other .evaluate__body .body__summer em {
  margin: 0 2px;
  line-height: 32px;
  font-family: arial;
  color: #f60;
  font-size: 32px;
}
.interac .other .evaluate__body .body__summer p {
  padding-top: 1px;
  padding-left: 7px;
  text-align: left;
}
.interac .other .evaluate__body .body__summer p span {
  display: block;
  width: 60px;
  height: 12px;
  overflow: hidden;
}
.interac .other .evaluate__body .body__summer p span em {
  display: block;
  width: 60px;
  height: 12px;
  overflow: hidden;
  background: url("..\\..\\..\\public\\images\\iphone\\jingling1.png") 0 -16px no-repeat;
}
.interac .other .evaluate__body .body__main {
  flex: 1 0 auto;
  width: 450px;
  padding-left: 90px;
  padding-top: 22px;
  vertical-align: top;
}
.interac .other .evaluate__body .body__main .extent {
  position: relative;
  width: 400px;
  height: 16px;
  text-align: left;
  background: url("..\\..\\..\\public\\images\\iphone\\jingling2.png") no-repeat;
}
.interac .other .evaluate__body .body__main .extent:after {
  position: absolute;
  content: "4.9";
  top: -24px;
  right: 0;
  width: 30px;
  height: 23px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  background: url("..\\..\\..\\public\\images\\iphone\\jingling2.png") -418px no-repeat;
}
.interac .other .evaluate__body .body__main .extent-pointer {
  display: flex;
  justify-content: space-between;
  width: 395px;
  padding-left: 40px;
  font-size: 12px;
}
.interac .other .evaluate__body .body__main .extent-pointer > li {
  width: 80px;
  text-align: center;
  color: grey;
}
.interac .other .evaluate__toolbar {
  display: flex;
  justify-content: space-between;
  height: 24px;
  padding: 5px 10px;
  border: 1px solid #c8c8c8;
  line-height: 24px;
  text-align: right;
  background: #EFEFEF;
}
.interac .other .evaluate__toolbar .left,
.interac .other .evaluate__toolbar .right {
  padding-left: 2px;
  line-height: 24px;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
}
.interac .other .evaluate__toolbar .right {
  display: flex;
  justify-content: space-between;
}
.interac .other .evaluate__toolbar .right .select {
  position: relative;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
  margin: 0 5px;
  text-indent: -1em;
  background: url("..\\..\\..\\public\\images\\iphone\\xiala.png") 64px 8px no-repeat;
  display: block;
  cursor: default;
  height: 20px;
  line-height: 20px;
  width: 81px;
  border: 1px solid #c8c8c8;
}
.interac .other .evaluate__toolbar .right .select .select__ls {
  position: absolute;
  left: -1px;
  top: 21px;
  background: #fff;
  width: 100%;
  padding: 0;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #DDD;
  overflow: hidden;
  z-index: 1;
  display: none;
}
.interac .other .evaluate__toolbar .right .select .select__ls > li {
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}
.interac .other .remenber {
  padding: 10px;
  margin-top: 80px;
  border: 1px solid #ffcc7f;
  background-color: #ffffe5;
}
.interac .other .remenber dl {
  display: flex;
  justify-content: space-between;
  line-height: 2;
  font-size: 12px;
}
.interac .other .remenber dl > dt {
  flex: 1 0 auto;
  width: 68px;
  font-weight: 700;
}
.interac .other .remenber dl > dd {
  font-weight: 400;
}
.interac .other .remenber dl:first-of-type {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffe8ca;
}
.interac .other .remenber dl:first-of-type p:first-of-type a {
  color: #35a;
}
.interac .other .remenber dl:first-of-type p:last-of-type > a span {
  margin: 4px 10px 0 0;
  color: #999;
  padding-left: 18px;
  height: 16px;
  line-height: 16px;
  background: url("..\\..\\..\\public\\images\\iphone\\uc.png") no-repeat;
}

.ifooter {
  background: #f1f1f1;
  margin-bottom: 10px;
}
.ifooter .wrapper {
  width: 990px;
  height: 70px;
  margin: 0 auto;
}
.ifooter .wrapper ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 990px;
  line-height: 28px;
  color: #999;
  font-size: 12px;
  padding-top: 2px;
}
.ifooter .wrapper ul li {
  margin-right: 20px;
}
.ifooter .wrapper ul li span {
  vertical-align: middle;
}
.ifooter .wrapper ul li > a {
  color: #0070c9;
}
.ifooter .wrapper ul li > a > img {
  vertical-align: middle;
}

/*# sourceMappingURL=iphone13.css.map */
