.site-nav {
  background-color: #f2f2f2;
  font: normal 12px/32px "Microsoft YaHei";
  color: #999999;
}
.site-nav .wrapper {
  display: flex;
  width: 1230px;
  height: 32px;
  margin: 0 auto;
  justify-content: space-between;
}
.site-nav .wrapper .login {
  display: flex;
  justify-content: space-between;
  width: 218px;
}
.site-nav .wrapper .login a {
  font: normal 12px/32px "Microsoft YaHei";
  color: #999999;
}
.site-nav .wrapper .login a:last-of-type {
  padding-right: 10px;
}
.site-nav .wrapper .site-nav__menu {
  display: flex;
  position: relative;
  width: 506px;
  justify-content: space-between;
}
.site-nav .wrapper .site-nav__menu .menu__sliderdown {
  padding-right: 14px;
}
.site-nav .wrapper .site-nav__menu .menu__sliderdown::after {
  position: absolute;
  content: "";
  right: 6px;
  top: 15px;
  width: 0;
  height: 0;
  border-width: 3px;
  border-style: solid dashed dashed;
  border-color: #a88f8f transparent transparent;
  font-size: 0;
  line-height: 0;
}
.site-nav .wrapper .site-nav__menu > li {
  position: relative;
  padding: 0 10px;
}
.site-nav .wrapper .site-nav__menu > li > a {
  height: 32px;
  font: normal 12px/32px "Microsoft YaHei";
  color: #999999;
}
.site-nav .wrapper .site-nav__menu .menu__sub {
  position: absolute;
  left: 0;
  top: -100px;
  width: 74px;
  padding: 8px 10px;
  border: solid #eee;
  border-width: 0 1px 1px;
  font: 12px/22px "Microsoft YaHei";
  text-align: center;
  background-color: #fff;
  z-index: 9999;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}
.site-nav .wrapper .site-nav__menu .menu__sub a {
  font: 12px/22px "Microsoft YaHei";
  color: #666;
}
.site-nav .wrapper .site-nav__menu .menu__fav .menu__sub {
  width: 64px;
}
.site-nav .wrapper .site-nav__menu .seller-list {
  left: auto;
  right: 0;
  width: 122px;
  overflow: hidden;
}
.site-nav .wrapper .site-nav__menu .seller-list .seller__item {
  padding: 5px 0;
  height: auto;
  display: block;
  line-height: 1.4;
  border-bottom: 1px dotted #827777;
}
.site-nav .wrapper .site-nav__menu .seller-list .seller__menu {
  text-align: left;
  column-count: 2;
}
.site-nav .wrapper .site-nav__menu .seller-list .seller__menu .seller__title {
  color: #666;
  font-weight: 700;
  column-span: all;
}
.site-nav .wrapper .site-nav__menu .seller-list .seller__menu > a {
  display: block;
}
.site-nav .wrapper .site-nav__menu .seller-list .seller__help {
  text-align: left;
}
.site-nav .wrapper .site-nav__menu .seller-list .seller__help .seller__title {
  color: #666;
  font-weight: 700;
}
.site-nav .wrapper .site-nav__menu .menu__sitenav .sitenav__sub {
  display: flex;
  justify-content: space-between;
  left: auto;
  right: 0;
  width: 1198px;
  padding: 25px 0;
  text-align: left;
}
.site-nav .wrapper .site-nav__menu .menu__sitenav .sitenav__sub dl:nth-of-type(2) {
  border-right: 1px solid #f5f5f5;
  border-left: 1px solid #f5f5f5;
}
.site-nav .wrapper .site-nav__menu .menu__sitenav .sitenav__sub dl:not(:last-of-type) {
  width: 455px;
}
.site-nav .wrapper .site-nav__menu .menu__sitenav .sitenav__sub dl:nth-of-type {
  width: 196px;
  overflow: hidden;
}
.site-nav .wrapper .site-nav__menu .menu__sitenav .sitenav__sub .sitenav__item {
  height: 110px;
  padding-left: 30px;
  column-count: 5;
}
.site-nav .wrapper .site-nav__menu .menu__sitenav .sitenav__sub .sitenav__item > dt {
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 100;
  column-span: all;
}
.site-nav .wrapper .site-nav__menu .menu__sitenav .sitenav__sub .sitenav__item > dt > span {
  padding-left: 6px;
}
.site-nav .wrapper .site-nav__menu .menu__sitenav .sitenav__sub .sitenav__item > dd {
  width: 90px;
  padding: 2px 0;
}
.site-nav .wrapper .site-nav__menu .menu__sitenav .sitenav__sub .sitenav__item > dd > a {
  line-height: 1.4em;
  color: #666;
}
.site-nav .wrapper .site-nav__menu .menu__sitenav .sitenav__sub .sitenav__hot {
  color: #f56a00;
}
.site-nav .wrapper .site-nav__menu .menu__sitenav .sitenav__sub .sitenav__market {
  color: #2263d4;
}
.site-nav .wrapper .site-nav__menu .menu__sitenav .sitenav__sub .sitenav__help {
  column-count: 2;
  color: #666;
}
.site-nav .wrapper .site-nav__menu > li:hover {
  background-color: #fff;
  border: solid #eee;
  border-width: 1px 1px 0;
}
.site-nav .wrapper .site-nav__menu > li:hover .menu__sub {
  top: 33px;
  max-height: 500px;
  opacity: 1;
}

.searchbar {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  height: 130px;
  width: 1230px;
  padding-right: 30px;
  margin: 0 auto;
}
.searchbar .logo {
  margin: 0;
  padding: 0;
}
.searchbar .logo img {
  width: 240px;
  height: 130px;
  margin: 1px 25px;
  margin-left: -20px;
}
.searchbar .search {
  width: 625px;
  heigth: 40px;
  margin-left: 75px;
  padding-top: 38px;
}
.searchbar .search form {
  display: flex;
  justify-content: space-between;
  width: 621px;
  height: 36;
  border: 2px solid #ff0036;
}
.searchbar .search__input {
  flex: auto;
  outline: none;
  border: none;
}
.searchbar .search__input:-webkit-input-placeholder {
  font-size: 14px;
  line-height: 36px;
  height: 36px;
}
.searchbar .search__input:focus:-webkit-input-placeholder {
  outline: none;
  color: #ccc;
}
.searchbar .search__submit {
  width: 132px;
  height: 36px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
  background-color: #ff0036;
  text-align: center;
  line-height: 36px;
  color: #fff;
}

/*# sourceMappingURL=header.css.map */
