main 
    position: relative
    width: 100%
    margin-bottom: 40px
    .banner
        width: 100%
        background-color: rgb(221, 39, 38)
        &__wrap
            position: relative
            width: 1190px
            margin: 0 auto
            >a
                display: block
                position: absolute
                top: 80px
                left: 75px
                width: 630px
                height: 440px
                border: none
                outline: none
        &__logo
            >img 
                display: block
                margin: 0 auto
    .login
        position: absolute
        top: 91px
        right: 425px
        background-color: #fff

