.advertising {
  height: 80px;
  background-color: #ce0b22;
}

.advertising > a {
  display: block;
  width: 990px;
  height: 100%;
  margin: 0 auto;
}

.advertising__img {
  width: 990px;
  height: 80px;
}
